@model SistemaWebMedida.ViewsModels.LoginViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-image: url('/imagenes/ImagenFondo.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        .login-form {
            background: rgba(255, 255, 255, 0.8); /* Fondo blanco semi-transparente */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 100%;
            max-width: 400px;
        }

            .login-form h2 {
                text-align: center;
                margin-bottom: 20px;
            }

        .input_box {
            position: relative;
            margin-bottom: 20px;
        }

            .input_box input {
                width: 100%;
                padding: 10px 35px;
                border-radius: 5px;
                border: 1px solid #ddd;
                font-size: 16px;
            }

            .input_box i {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #aaa;
            }

            .input_box .email {
                left: 10px;
            }

            .input_box .password {
                left: 10px;
            }

            .input_box .pw_hide {
                right: 10px;
                cursor: pointer;
            }

        .option_field {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

            .option_field .checkbox {
                display: flex;
                align-items: center;
            }

                .option_field .checkbox input {
                    margin-right: 10px;
                }

            .option_field .forgot_pw {
                color: #FF9317;
            }

        .button {
            width: 100%;
            padding: 10px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: #FF9317;
            color: #fff;
            font-size: 16px;
        }

        .Login_signup {
            text-align: center;
            margin-top: 20px;
        }

            .Login_signup a {
                color: #FF9317;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div class="login-form">
        <form asp-controller="Acceso" asp-action="Login" method="post">
            <h2>Inicio de sesión</h2>

            <div class="input_box">
                <input type="email" placeholder="Ingresa tu e-mail" required asp-for="Correo">
                <i class="fas fa-envelope email"></i>
            </div>

            <div class="input_box">
                <input type="password" placeholder="Ingresa tu contraseña" required asp-for="Clave" id="password">
                <i class="fas fa-lock password"></i>
                <i class="fas fa-eye-slash pw_hide" id="togglePassword"></i>
            </div>

@*             <div class="option_field">
                <span class="checkbox">
                    <input type="checkbox" id="chec">
                    <label for="chec" style="color: #FF9317">Recordarme en <br />este equipo</label>
                </span>
                <a href="#" class="forgot_pw">¿Olvidaste tu contraseña?</a>
            </div> *@

            @if (ViewData["Mensaje"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @ViewData["Mensaje"]
                </div>
            }

            <button class="button" type="submit"><strong>Iniciar Sesión</strong></button>

            <div class="Login_signup">
                ¿No tienes una cuenta? <a asp-controller="Acceso" asp-action="Registrarse">Regístrate Ya!</a>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const togglePassword = document.getElementById('togglePassword');
            const passwordInput = document.getElementById('password');

            togglePassword.addEventListener('click', function (e) {

                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);

                this.classList.toggle('fa-eye-slash');
                this.classList.toggle('fa-eye');
            });
        });
    </script>
</body>
</html>
